\begin{titlepage}
\vspace*{-20mm}
\begin{center}
{\fontsize{22}{32}\selectfont \heiti {{ contest_name }}}\\
\vskip 0.6em
{{ time_line }}
\vskip 0.8em
\end{center}

{{ table }}

{\noindent\hspace*{1.5em}\rmfamily 提交源程序文件名}\par
{{ src_table }}

{\noindent\hspace*{1.5em}\rmfamily 编译选项}\par
{{ compile_table }}

{\noindent\hspace*{1.5em}\stress{注意事项（请仔细阅读）}}\par
\begin{enumerate}
{{ notes_tex }}
\end{enumerate}
\end{titlepage}
