\documentclass{statement}
\usepackage{tikz}
\usepackage{ulem}
\usepackage{tabularx}
\usepackage{makecell}
\usepackage{tabularray}
\usepackage{color}
\usepackage{xcolor}
\usepackage{hyperref}
\usepackage{minted}

\title{ {{ title }} }
\date{}

\begin{document}
{{ body }}
\end{document}
