<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>{{ doc_title }}</title>
{{ style }}
</head>
<body class="with-header">
<div class="page-header"><span>{{ contest_name }}</span><span class="right">{{ title_html }}</span></div>
<h1 class="title">{{ title_html }}</h1>
{{ body }}
</body>
</html>
